body{
    font-family: 'Varela Round', sans-serif;
}
.navHeader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
    transition: 0.5s;
    background-color: #FFC480;


    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

#logo{
    position:absolute;
    left: 2%;
    right: 0;
    top: 0;
}

#titleLbl{
    position: absolute;
    left: 8.5%;
    top:10px;

    font-size: 33px;
}
#subTitleLbl{
    position: absolute;
    left: 8.5%;
    top: 45px;

    font-size: 13px;
    color: #323232;
}

#openNav{
    position: absolute;
    top: 50px;
    left: 50%;
}


#openNav.hide{
    opacity: 0;
    transition: 0.5s;
}

#navigation{
    position: absolute;
    left: 36%;
    top: 70px;
    width: 30%;
    height: 20px;
    content-visibility: hidden;
}


#aInicio{
    margin-left: 15%;

    text-decoration: none;
    color: #000000;

}
#aPedido{
    margin-left: 15%;

    text-decoration: none;
    color: #000000;
}

#aCarta{
    margin-left: 15%;

    text-decoration: none;
    color: #000000;
}


.menuTable {
    position: absolute;

    width: 100%;
    height: 110%;

    top: 2%;
    right: 0%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  
    justify-content: center;

}
  
.menuItem1 {
    grid-column-start: 1;
    grid-row-start: 1;

    display: grid;
    grid-template-rows: 25% 25% 25% ;

    height: 500px;

    text-align: left;
    margin-top: 13%;

    padding-left: 3%;



} 

#entrantesLbl{
    position: absolute;
    top: 6%;
    left: 15%;

    font-size: 35px;
}

.menuItem2 {

    grid-column-start: 2;
    grid-row-start: 1;
    
    display: grid;
    grid-template-rows: 25% 25% 25% ;


    height: 500px;

    text-align: left;
    margin-top: 13%;

    padding-left: 3%;

}

#specialsLbl{
    position: absolute;
    top: 6%;
    left: 63%;

    font-size: 35px;
}

.menuItem3 {

    grid-column-start: 1;
    grid-row-start: 2;
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% ;


    height: 230px;

    text-align: left;
    margin-top: 23%;

    padding-left: 3%;


}

#drinksLbl{
    position: absolute;
    top: 65%;
    left: 15%;

    font-size: 35px;
}

.menuItem4 {

    grid-column-start: 2;
    grid-row-start: 2;
    
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 50% 50% ;

    width: 90%;
    height: 230px;

    text-align: left;
    margin-top: 23%;

    padding-left: 3%;


}

#dessertsLbl{
    position: absolute;
    top: 65%;
    left: 63%;

    font-size: 35px;
}


.contactFooter{
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 80px;
    background-color: #FFC480;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;

    align-content: flex-start;
}